<?xml version='1.0' encoding='utf-8'?>
<widget id="com.laconnect.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>app-law-connect</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="phonegap-plugin-push" source="npm" spec="~2.2.3" />
    <plugin name="cordova-plugin-file" source="npm" spec="^4.3.2" />
    <plugin name="cordova-plugin-sim" source="npm" spec="^1.3.3" />
    <plugin name="cordova-plugin-camera" source="npm" spec="^4.0.3" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="^1.7.1" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="^5.4.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="^2.0.2" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <engine name="browser" spec="~5.0.4" />
    <engine name="android" spec="^7.1.1" />
</widget>
