<ons-navigator swipeable id="casosNavigator" page="casos.html" animation-options="{duration: 0.2, delay: 0.1, timing: 'ease-in'}" ></ons-navigator>

<template id="casos.html" side="right">
<ons-page>
<ons-toolbar class="toolbar" static="true">
	<div class="left"></div>
	<div class="center">Casos</div>
    <div class="right">
    </div>
</ons-toolbar>
<ons-fab position="bottom right" onclick="changePageCasos('agregarcasos.html');">
    <ons-icon icon="md-plus"></ons-icon>
</ons-fab>
</ons-page>
</template>

<template id="agregarcasos.html" side="right">
<ons-page>
<ons-toolbar class="toolbar" static="true">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Agregar Caso</div>
    <div class="right">
    </div>
</ons-toolbar>
     <ons-fab position="bottom right" onclick="changePageCasos('usuarioencasos.html');">
	    <ons-icon icon="ion-android-person-add"></ons-icon>
	</ons-fab>
	<br/><br/><br/>
    <center>
    <input type="text" id="casotitulo" name="casotitulo" class="text-input text-input--material" placeholder="Título del caso" style="width:90%;"><br/><br/><br/>

    <textarea id="casoresumen" name="casoresumen" class="textarea" style="width:90%;" rows="20" placeholder="Resumen del caso"></textarea><br/><br/>

    <input type="status_del_caso" name="status_del_caso"  style="width:90%;" class="text-input text-input--material" placeholder="Estatus del caso"><br/><br/>
    </center>

    <input type="text" id="casoclientes" name="casoclientes" class="text-input text-input--material" placeholder="Título del caso" style="width:90%;"><br/><br/><br/>
    
    <ons-list modifier="inset" id="listcasoclientes" style="margin-top: 20px;">

    <input type="text"  id="datalistcasoclientes" name="datalistcasoclientes" style="margin-top: 5px;">



    <select>
    </select>

</ons-page>
</template>


<template id="usuarioencasos.html" side="right">
<ons-page id="usuarioencasos">
<ons-toolbar class="toolbar" static="true">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Buscador de usuarios</div>
    <div class="right">
    </div>
</ons-toolbar>
     <br/><br/><br/>
     <center>
     <ons-search-input id="csearch"
     placeholder="Buscar"
     onchange="searchINCliente();"
     style="width: 80%; background: #eee; border: solid 1px #000;"
     ></ons-search-input>
   	</center>
</ons-page>
</template>

<script type="text/javascript">
function changePageCasos(pushpage){
	document.querySelector('#casosNavigator').pushPage(pushpage);
}


function searchINCliente(){
	var search = $('#csearch .search-input').val();
	var url = "http://localhost:3000/api/global/clientes";
	var paramsx = {search: search};
	var idx = "usuarioencasos .page__content";
	appenddexternalpageloadClientes("clientes_list", idx, url, paramsx, 'POST');
	$('#csearch .search-input').val('');
    $('#listquestclientes').remove();

}
</script>
