.head-box{
	background: #fff;
	width: 100%;
	height: 200px;
}
.bluebox {
	background: #199bdb;
	width: 100%;
	padding: 0px;
	color: #fff;
	font-size: 9px;
	height: 400px;
}

.absolutebox{
	height: auto;
	padding: 3px;
	width: 95%;
	margin-top: 10px;
}
.plural-box{
	width: 33%;
	float: left;
}

.border-left-botton-solid{
	border-left: solid #fff 1px; 
	border-bottom: solid #fff 1px; 
}

.border-right-botton-solid{
	border-right: solid #fff 1px; 
	border-bottom: solid #fff 1px; 
}

.bottom-solid{
	border-bottom: solid #fff 1px; 
}

.right-solid{
	border-right: solid #fff 1px; 
}

.left-solid{
	border-left: solid #fff 1px; 
}

.uk-label {
    display: inline-block;
    padding: 0 10px;
    background: #02b3e4;
    line-height: 1.7333;
    font-size: .866rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 3px;
}

.profile-header-name{
	color: #fff;
	margin-top: -150px;
	padding: 20px;
}

.profile-menu{
	margin-top: -30px;
	background: transparent;
	position: absolute;
	color: #fff !important;
}
.profile-menu .button--quiet{
	color: #fff !important;
	font-size: 12px;
}
